{% extends "base.html" %}
{% load static %}
{% block content %}
    <body>
    {% include 'patient/../navbar.html' %}

    <div class="container">
        <br>
        <br>
        <div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Assessment Name</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    Neurologic Screening Evaluation
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success"
                       href="{% url "assessment:Neurologic_Screening_Evaluation" %}">Create</a>
                    <a class="btn btn-sm btn-outline-info"
                       href="{% url "assessment:Neurologic_Screening_Evaluation" %}">Previous</a>
                </td>

            </tr>
            <tr>
                <td>
                    Pre Post Tests
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="{% url "assessment:pre_post_tests" %}">Create</a>
                    <a class="btn btn-sm btn-outline-info" href="{% url "assessment:pre_post_tests" %}">Previous</a>
                </td>
            </tr>
            <tr>
                <td>
                    Psychoemotional Screening Evaluation
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success"
                       href="{% url "assessment:Psychoemotional_Screening_Evaluation" %}">Create</a>
                    <a class="btn btn-sm btn-outline-info" href="{% url "assessment:pre_post_tests" %}">Previous</a>
                </td>
            </tr>
            <tr>
                <td>
                    Music Preference
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="{% url "assessment:stomp" %}">Create</a>
                    <a class="btn btn-sm btn-outline-info" href="{% url "assessment:pre_post_tests" %}">Previous</a>
                </td>
            </tr>

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>


        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav> -->

    </div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </body>
{% endblock %}