{% extends "assessment/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}

    <style>
        /* 字体样式 */
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
        }

        /* 表格样式 */
        .table-striped th,
        .table-striped td {
            padding: 12px; /* 增加填充以创建更多空间 */
            text-align: left; /* 左对齐表头和单元格内容 */
        }

        .table-striped th {
            background-color: #00b7a6; /* 指定的颜色 */
            color: #ffffff; /* 白色文本 */
        }

        .table-striped tbody tr:nth-child(odd) td {
            background-color: #00b7a6; /* 指定的颜色 */
            color: #ffffff; /* 白色文本 */
        }

        .table-striped tbody tr:nth-child(even) td {
            background-color: #ffffff; /* 白色背景 */
            color: #00b7a6; /* 深色文本 */
        }

        /* 按钮样式 */
        .btn-success {
            padding: 10px 20px; /* 增加按钮的填充 */
            font-size: 18px; /* 增大字体大小 */
            border-radius: 5px; /* 圆角按钮 */
        }

        .label-color {
            color: #00b7a6; /* 这里是你选择的颜色 */
            font-weight: bold; /* 字体加粗 */
            font-size: 16px; /* 字体大小，根据需要调整 */
        }

    </style>


    <div class="container-fluid text-center">
        {{ description |escape|linebreaks }}
    </div>
    <form class="container" action="" method="post">
        {% csrf_token %}
        <label for="id_patientName" class="requiredField label-color">
            Patient<span class="asteriskField">*</span>
        </label>


        <div>
            {{ form.patientName }}
            <!--{#            <input type="number" name="TherapistEmail" class="emailinput form-control" required id="id_TherapistEmail">#}-->
        </div>


        <label for="id_patientNumber" class="requiredField label-color">
            Patient Number<span class="asteriskField">*</span>
        </label>


        <div>
            {{ form.patientNumber }}
            <!--{#            <input type="number" name="TherapistEmail" class="emailinput form-control" required id="id_TherapistEmail">#}-->
        </div>


        <label for="id_birthDate" class="requiredField label-color">
            Birthday<span class="asteriskField">*</span>
        </label>
        <div>
            {{ form.birthDate }}
            <!--{#            <input type="number" name="TherapistEmail" class="emailinput form-control" required id="id_TherapistEmail">#}-->
        </div>


        <label for="id_my_datetime_field" class="requiredField label-color">
            Time<span class="asteriskField">*</span>
        </label>
        <div>
            {{ form.my_datetime_field }}
            <!--{#            <input type="number" name="TherapistEmail" class="emailinput form-control" required id="id_TherapistEmail">#}-->
        </div>

        <label for="id_TesterName" class="requiredField label-color">
            Tester<span class="asteriskField">*</span>
        </label>
        <div style="margin-bottom: 20px;"> <!-- 增加了外边距 -->
            {{ form.TesterName }}
            <!--{#            <input type="number" name="TherapistEmail" class="emailinput form-control" required id="id_TherapistEmail">#}-->
        </div>
        <table class="table table-striped">

            <tr>
                <th>
                    Detail
                </th>
                <th>
                    Description
                </th>


            </tr>
            {#            {% for field in form %}#}
            <tr>
                <td>
                    This includes patients who may be markedly drowsy (eg. difficult to rouse and/or obviously sleepy
                    during assessment) or agitated/hyperactive. Observe the patient. If asleep, attempt to wake with
                    speech or gentle touch on shoulder. Ask the patient to state their name and address to assist
                    rating.

                </td>
                <td>
                    {{ form.question1 |as_crispy_field }}
                </td>


            </tr>

            <tr>
                <td class="fieldWrapper">
                    Age, date of birth, place (name of the hospital or building), current year.
                </td>

                <td>
                    {{ form.question2 |as_crispy_field }}
                    {#                    placeholder#}
                </td>

            </tr>
            <tr>
                <td class="fieldWrapper">
                    Ask the patient: “Please tell me the months of the year in backwards order, starting at December.”
                    To assist initial understanding one prompt of “what is the month before December?” is permitted.

                </td>

                <td>
                    {{ form.question3|as_crispy_field }}

                </td>

            </tr>

            <tr>
                <td class="fieldWrapper">
                    Evidence of significant change or fluctuation in: alertness, cognition, other mental function
                    (eg. paranoia, hallucinations) arising over the last 2 weeks and still evident in last 24hrs

                </td>
                <td>
                    {{ form.question4 |as_crispy_field }}

                </td>

            </tr>

            <tr>
                <td class="fieldWrapper">
                    4 or above: possible delirium +/- cognitive impairment
                    1-3: possible cognitive impairment
                    0: delirium or severe cognitive impairment unlikely (but delirium still possible if [4] information
                    incomplete)
                </td>

                <td>
                    {{ form.AtScore|as_crispy_field }}
                </td>

            </tr>
            {#            {% endfor %}#}
        </table>
        <button class="btn my-3" type="submit" style="background-color: #00b7a6; color: #ffffff;">Send message</button>
    <button class="btn btn-primary my-3" type="submit">Download PDF</button>

    </form>
    <script>
        function performDivision() {
            // Get the values from the numerator and denominator input fields
            var question1 = document.getElementById('id_question1').value;
            var question2 = document.getElementById('id_question2').value;
            var question3 = document.getElementById('id_question3').value;
            var question4 = document.getElementById('id_question4').value;

            // Convert the values to numbers
            Value1 = parseFloat(question1);
            Value2 = parseFloat(question2);
            Value3 = parseFloat(question3);
            Value4 = parseFloat(question4);


            // Perform the division and update the result input field
            var total = Value1 + Value2 + Value3 + Value4;

            document.getElementById('id_AtScore').value = total.toFixed(3);

        }
    </script>
{% endblock %}
