{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container text-center">
        {{ description |escape|linebreaks }}
    </div>
    <div class="container">
        <div class="row">
            <div class="col form-check">
                <input class="form-check-input" type="radio" id="type1_value">
                <label for="type1_value">eval</label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="radio" id="type2_value">
                <label for="type2_value">treatment</label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="radio" id="type3_value">
                <label for="type3_value">treatment pre</label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="radio" id="type4_value">
                <label for="type4_value">treatment post</label>
            </div>
        </div>
    </div>

    {#    <div class="container" id="prePostForm">#}
    {#    <a href="#prePostForm"><h2> Pre Post Form</h2></a>#}
    <div class="container">
        <div class="text-center"><a href="#prePostForm" data-toggle="collapse"><h2> Pre Post Form</h2></a></div>
        <div class="collapse" id="prePostForm">
            <table class="table">
                <tr>
                    <td>
                        Vitals
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ prePostForm.VITALSExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.VITALSSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        BP
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ prePostForm.BPExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.BPSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        BP Location
                    </td>
                    <td>
                        Right arm, Left arrm. Right leg, left lef, arterial, left write. Right writst, other (commnet)
                    </td>
                    <td>
                        {{ prePostForm.BPLocationExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.BPLocationSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Patient Position
                    </td>
                    <td>
                        Lying, Sitting, Standing, Held, Other (comment)
                    </td>
                    <td>
                        {{ prePostForm.PatientPositionExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.PatientPositionSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        HR
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ prePostForm.HRExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.HRSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        RR
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ prePostForm.RRExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.RRSingle |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        O2
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ prePostForm.O2ExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.O2Single |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Pulse Ox Location
                    </td>
                    <td>
                        Finger, Ear, Forehead, Toe, Nose, Other (comment)
                    </td>
                    <td>
                        {{ prePostForm.PulseOxLocationExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ prePostForm.PulseOxLocationSingle |as_crispy_field }}
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="container">
        <div class="text-center"><a href="#Neurologic_Screening_Evaluation" data-toggle="collapse"><h2>
            Neurologic Screening/Evaluation</h2></a></div>
        <div class="collapse" id="Neurologic_Screening_Evaluation">
            <table class="table">

                <tr>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>
                        Exists in Epic
                    </th>
                    <th>
                        Single or Multiple
                    </th>
                </tr>
                {#            {% for field in form %}#}
                <tr>
                    <td>
                        Richmon Agitation Scale (RASS)
                    </td>
                    <td>
                        <select class="form-control">
                            <option>+4 = Combative</option>
                            {#                        +3 = Very Agitated, +2 = Agitated, +1 = Restless, 0 = Alert and calm, -1 =#}
                            {#                        Drowsy,#}
                            {#                        -2 = Light sedatio, -3 = moderate sedation, -4 = Deep sedation, -5 = Unarousable#}
                        </select>
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature1ExistsInEPIC |as_crispy_field }}
                        {#                    placeholder#}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature1Single |as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td class="fieldWrapper">
                        {{ neurologicScreeningEvaluationForm.feature1.errors }}
                        {{ neurologicScreeningEvaluationForm.feature1.label_tag }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature1|as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature1ExistsInEPIC |as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature1Single|as_crispy_field }}
                    </td>

                </tr>
                <tr>
                    <td class="fieldWrapper">
                        {{ neurologicScreeningEvaluationForm.feature2.errors }}
                        {{ neurologicScreeningEvaluationForm.feature2.label_tag }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature2 |as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature2ExistsInEPIC|as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature2Single|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td class="fieldWrapper">
                        {{ neurologicScreeningEvaluationForm.feature3.errors }}
                        {{ neurologicScreeningEvaluationForm.feature3.label_tag }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature3|as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature3ExistsInEPIC|as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature3Single|as_crispy_field }}
                    </td>
                </tr>
                <tr>
                    <td class="fieldWrapper">
                        {{ neurologicScreeningEvaluationForm.feature4.errors }}
                        {{ neurologicScreeningEvaluationForm.feature4.label_tag }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature4 |as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature4ExistsInEPIC|as_crispy_field }}
                    </td>
                    <td>
                        {{ neurologicScreeningEvaluationForm.feature4Single|as_crispy_field }}
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="text-center"><a href="#Psychoemotional_Screening_Evaluation" data-toggle="collapse"><h2>
            Psychoemotional Screening Evaluation</h2></a></div>
        <div class="collapse" id="Psychoemotional_Screening_Evaluation">
            Placeholder
        </div>
    </div>

{% endblock %}