{% extends "assessment/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        {{ description |escape|linebreaks }}
    </div>

    <div class="container">
        <form id="phq9Form" method="post">
            {% csrf_token %}
            <div class="form-group" style="margin-top: 20px;">
                {{ form.name.label_tag }} {{ form.name }}
            </div>

            <div class="form-group">
                {{ form.date.label_tag }} {{ form.date }}
            </div>

            <p style="font-weight: bold; margin-top: 20px;">Over the last 2 weeks, how often have you been bothered by
                any of the following problems?</p>

            <table class="table">
                {% for field in questions %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>

            <button id="submitFormBtn" type="submit" class="btn btn-primary">Submit</button>
            <button id="sendMessageBtn" type="button" class="btn btn-success my-3"
                    style="background-color: #00b7a6; color: #ffffff;">Send message
            </button>
            <input type="hidden" name="submit_action" id="submitActionInput" value="submit">
        </form>
        <div id="totalScore"></div>
        <div id="warning" style="color: red;"></div>
        <div id="diagnosisResult" style="margin-top: 20px;"></div>
        <div id="depressionSeverityInfo" style="margin-top: 20px;"></div>
    </div>




    <script>
        $(document).ready(function () {
            $('#submitFormBtn').on('click', function (e) {  // Add 'e' here
                e.preventDefault();  // Now 'e' is defined

                var total = 0;
                var isFormValid = true;

                // Iterate through each select box and calculate total
                $('#phq9Form select').each(function () {
                    var answer = $(this).val();
                    if (answer === "" || answer === null) {
                        isFormValid = false;
                        alert('Please answer all questions.');
                        return false; // Break out of the loop
                    }
                    total += parseInt(answer, 9);
                });

                if (!isFormValid) {
                    // If any question is not answered, do not proceed
                    return;
                }

                // 检查姓名和日期是否填写


                // 如果所有问题都已回答，处理表单数据
                $('#totalScore').text('Total Score: ' + total);

                // 根据总分显示诊断结果
                var diagnosis = getDiagnosis(total);
                $('#diagnosisResult').html('<strong>Diagnosis:</strong> ' + diagnosis);

                // 显示抑郁症严重程度信息
                displayDepressionSeverityInfo();
            });

            function getDiagnosis(score) {
                if (score <= 4) return "Minimal depression";
                if (score <= 9) return "Mild depression";
                if (score <= 14) return "Moderate depression";
                if (score <= 19) return "Moderately severe depression";
                return "Severe depression";


            }

            function displayDepressionSeverityInfo() {
                var severityInfo = `
                    <strong>Depression Severity:</strong>
                    <ul>
                        <li>1-4: Minimal depression</li>
                        <li>5-9: Mild depression</li>
                        <li>10-14: Moderate depression</li>
                        <li>15-19: Moderately severe depression</li>
                        <li>20-27: Severe depression</li>
                    </ul>
                `;
                $('#depressionSeverityInfo').html(severityInfo);
            }


            $('#sendMessageBtn').click(function () {

                $('#submitActionInput').val('send_message');
                $('#phq9Form').submit();  // Submit the form
            });


        });


    </script>
{% endblock %}