{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <h2>{{ header }}</h2>
        {{ description |escape|linebreaks }}
    </div>
    <div class="container">
        <ul>
            {% for field in form %}
                <li>
                    <div class="fieldWrapper">

                        {{ field.errors }}
                        {{ field }}
                        {{ field.label_tag }}


                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
    ___________________________________________________________________________________________________

{% endblock %}