{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container text-center">
        {{ description |escape|linebreaks }}
    </div>
    <form class="container" action="" method="post">
        {#        {% include 'assessment/form_snippet.html' %}#}
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field|as_crispy_field }}
            </div>
        {% endfor %}
        {#        {% include 'assessment/form_snippet.html' %}#}
        <button class="btn btn-success my-3" type="submit">Send Email</button>
        <button class="btn btn-danger my-3" type="">Send to MyChart</button>
        <button class="btn btn-warning my-3">Save as PDF</button>
    </form>

{% endblock %}