asgiref
certifi
cloudinary
django>=5.1.1,<5.2
dj-database-url>=2,<3
django-crispy-forms==1.14.0
djangorestframework==3.15.2
gunicorn>=23,<24
pytz==2020.5
django-heroku
six==1.16.0
sqlparse
tzdata
urllib3==1.26.19
whitenoise==6.4.0
wincertstore==0.2
reportlab
whitenoise
djangorestframework
markdown
django-filter
xhtml2pdf
coverage
python-dotenv
whitenoise[brotli]>=6,<7
