{% extends "assessment/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <br>
        <br>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <p>Date From</p><input class="form-control" type="date">
            <span>To</span><input class="form-control" type="date">
            <span>Status</span><input class="form-control" type="text">
            <span>Email </span><input class="form-control" type="text">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Status</th>
                <th>Next Appointment</th>
                <th>Manage</th>
            </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.user }}</td>
                    <td><span class="badge badge-pill badge-primary">assessment</span></td>
                    <td>03/28/2023</td>
                    <td data-label="Action">
                        <a href="" class="btn btn-outline-info btn-sm" role="button">View</a>
                        <a href="" class="btn btn-outline-info btn-sm" role="button">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>


        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav> -->

    </div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}