{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    {% load crispy_forms_tags %}#}

    <body>

    {% include 'navbar.html' %}

    <div class="container">


        <form>
            <label> Therapist
                <input type="text" value="Dr. Jack Shen" disabled>
            </label>
        </form>

        <form>
            <label> Author
                <input type="text" value="Vincent Wu" disabled>
            </label>
        </form>

        <form>
            <label> Authorised Viewer
                <input type="text" value="Yuan Chen" disabled>
            </label>
        </form>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
        </div>


        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav> -->

    </div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}