{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    {% load crispy_forms_tags %}#}

    <body>

    {% include 'navbar.html' %}

    <div class="container">

        <div class="gunicorn text-center">
            <h1>Songs</h1>
        </div>


        <br>
        <br>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <p>Date From</p>
            <span>To</span>
            <span>Status</span>
            <span>Email </span>
        </div>


        {% for item in items %}
            {#                <tr>#}
            {#                    <td>{{ item.user }}</td>#}
            {#                    <td>{{ item.amount }}</td>#}
            {#                    <td>{{ item.account }}</td>#}
            {#                    <td>{{ item.updated_date }}</td>#}
            {#                </tr>#}

            <div class="card">
                <div class="card-horizontal">
                    <div class=" embed-responsive embed-responsive-16by9" style="width: 18rem;">
                        <iframe width="560" height="315" src="{{ item.youtube_link }}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.id }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                    </div>
                </div>
            </div>

        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>


        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in paginator_obj.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav> -->

    </div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}