{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    
    <div class="clear"></div>
    <div class="container-fluid text-center">
        <form class="text-center">
            <div class="input-group mb-3">
                <label>
                    <input type="text" class="form-control" placeholder="">
                </label>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}