{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="jumbotron">
        <div class="clear"></div>
        <a href="/" class="lang-logo">
            <img src="{% static '独馨.png' %}">
        </a>
        <div class="clear"></div>
        <div class="container text-left">
            <h2>发现科学知识， 连接中国科研</h2>
            <button class="btn btn-default">免费加入</button>
        </div>
        <div class="container text-right">
            <h2>发现研究</h2>
            {{ form.as_p }}
            <form action="" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input name="s" type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
        <div class="clear"></div>
        <div class="container text-left">
            <h2>连接你的科研社区</h2>
        </div>
        <div class="clear"></div>
        <div class="container text-right">
            <h2>扩大你的学术影响力</h2>
        </div>
        <div class="clear"></div>
        <div class="container text-center">
            <h2>惟吾德馨</h2>
            <button class="btn btn-lg  btn-default" data-toggle="modal" data-target="#registerModal">免费加入</button>
        </div>
        <div class="clear"></div>
        <hr>
        <div class="container">
            <h2 class="text-center">独馨企业服务</h2>
            <div class="row">
                <div class="col-sm-3 col-md-4">
                    <div class="thumbnail">
                        <h3 class="index-footer__text">科研招聘</h3>
                        <div class="index-footer__subtext">Hire qualified researchers and build
                            the best teams in science.
                        </div>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="index-footer__info">
                            <h3 class="index-footer__text">广告投放</h3>
                            <div class="index-footer__subtext">Grow your brand&#x27;s impact in the
                                scientific community with the world&#x27;s leading network for
                                scientists.
                            </div>
                            <p><a class="btn btn-secondary" href="#" role="button">View details
                                &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="index-footer__info">
                            <h3 class="index-footer__text">产学转化</h3>
                            <div class="index-footer__subtext">Grow your brand&#x27;s impact in the
                                scientific community with the world&#x27;s leading network for
                                scientists.
                            </div>
                            <p><a class="btn btn-secondary" href="#" role="button">View details
                                &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}