<!DOCTYPE html>
<html lang="en">
<body>

<nav class="navbar navbar-expand-lg navbar-light sticky-top border-bottom" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img alt="" class="vt-logo-image"
                                              src="https://res.cloudinary.com/hq8x4kz7x/image/upload/c_crop,h_289,w_500/v1678922213/output-onlinepngtools_jrafo1.png"
                                              height=60 focusable="false" aria-hidden="true"> <span>{{ header }}</span></a>


        <ul class="navbar-nav">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>

                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li><a class="nav-link" href="/chat"> Chat</a></li>
                    {#                    <li><a class="nav-link" href="/assessment"> Digital Forms</a></li>#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url "assessment:index" %}" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Digital Forms</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url "assessment:Neurologic_Screening_Evaluation" %}">Neurologic
                                Screening Evaluation</a>
                            <a class="dropdown-item" href="{% url "assessment:pre_post_tests" %}">Pre Post Tests</a>
                            <a class="dropdown-item" href="{% url "assessment:Psychoemotional_Screening_Evaluation" %}">Psychoemotional
                                Screening Evaluation</a>
                            <a class="dropdown-item" href="{% url "assessment:stomp" %}">Music Preference</a>
                        </div>
                    </li>
                    <li><a class="nav-link" href="/music/songs"> Media Library</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="nav-link" href="/accounts/logout">Log out</a>
                        </li>
                    {% else %}
                        <li><a class="nav-link" href=" {% url 'login' %}">Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </div>
</nav>

</body>
</html>